@import '../../../styles/variables.less';

.thumbnail{
	&Wrapper{
		flex-shrink: 0;
		height: 50px;
		position: relative;
		width: 50px;
	}

	&Img{
		height: 100%;
		width: 100%;
	}

	&Duration{
		bottom: 0;
		color: @text-color-light-2;
		font-size: @font-size-small;
		left: 0;
		margin: 0;
		padding: 3px 5px;
		position: absolute;
		width: 100%;
	}
}