@import '../../../../styles/variables.less';

.wrapper{
	flex-grow: 1;
	padding-left: 10px;
	width: 70%;
}

.body{
	display: none;
	margin: 5px 0;
}

.button{
	color: @text-color-light-2;
	margin: 0 7px;
}