@value CONSTANTS: 'styles/variables.css';
@value bg-color-1, bg-color-2, bg-color-3, bg-color-4, text-color-light-1, text-color-light-2, text-color-dark-1, light-blue, light-yellow,font-size-small, font-size-normal, font-size-medium, font-size-large, navbar-height, player-height from CONSTANTS;

.menuContainer{
	height: 100%;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 150;

	&:after{
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
		width: 100%;
		will-change: opacity;
	}

	&__visible{
		pointer-events: auto;

		&:after{
			opacity: 1;
			pointer-events: auto;
		}

		.menuContainerInner{
			-webkit-transform: none;
			transform: none;
		}
	}

	&__animatable{
		.menuContainerInner{
			transition: all 200ms ease-in;
		}
	}

	&__visible&__animatable{
		.menuContainerInner{
			transition: all 330ms ease-out;
		}
	}

	&Inner{
		background-color: #c7c7c7;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: 500px;
		pointer-events: auto;
		position: relative;
		transform: translateX(-103%);
		-webkit-transform: translateX(-103%);
		width: 90%;
		will-change: transform;
		z-index: 160;
	}
}

.menu{
	margin: 0;
	padding: 0;

	&Item{
		--common-color: #c7c7c7;
		border-bottom: 1px solid color(var(--common-color) lightness(-5%));
		cursor: pointer;
		font-size: font-size-medium;

		&:hover{
			background-color: color(var(--common-color) lightness(-10%));
		}

		&Link{
			color: text-color-dark-1;
			display: block;
			padding: 10px 20px;
		}

		&Icon{
			margin-right: 5px;
		}
	}
}