@import '../../styles/variables.less';

.player{
	background-color: @bg-color-1;
	height: @player-height;
	margin: 0;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
	transition-property: height;
	width: 100%;

	&--opened{
		composes: player;
		height: calc(~"100% - " (@navbar-height - 1));

		.contentWrapper{
			margin: 0 auto;
			width: 95%;
		}

		.playingSongContainer{
			text-align: center;
			flex-direction: column;
			padding-top: 0;
			justify-content: center;
		}

		.playerWrapper{
			padding: 0;
		}

		.songThumbnail{
			display: none;
		}

		.playerWrapperInner{
			margin: 0 auto;
			position: relative;
			width: 150px;
		}

		.playerPluginContainer{
			border-radius: 5px;
			border: 10px solid #262626;
			display: block;
		}

		.playerProgressBarContainer{
			cursor: pointer;
			margin-top: 20px;
			width: 150px;
			z-index: 10;
		}

		.playerProgressBarInner{
			border-radius: 3px;
			height: 10px;
			overflow: hidden;
		}

		.detailsWrapper{
			flex-grow: 0;
			padding: 0;
			margin: 20px 0;
			width: 100%;
		}

		.songDetail{
			font-size: @font-size-medium;
		}

		.songTitle{
			font-size: @font-size-large;
			margin-top: 20px;
		}

		.buttonsWrapper{
			padding: 0;
			width: 100%;
		}

		.controlButtons{
			font-size: 50px;
		}
	}
}

.expandButtonContainer{
	width: 100%;
}

.expandButton{
	color: @text-color-light-1;
	width: 100%;
}

.contentWrapper{
	height: 100%;
}

.noPlayingSongContainer{
	align-items: center;
	background-color: black;
	color: @text-color-light-1;
	display: flex;
	font-size: @font-size-medium;
	height: 100%;
	justify-content: center;
}

.playingSongContainer{
	align-items: center;
	flex-direction: row;
	height: 100%;
	margin: 0;
	padding: 20px 10px 0 10px;
}

.playerWrapper{
	padding: 0 10px;
}

.songThumbnail{
	height: 50px;
	margin: 0px auto;
	max-width: 100%;
	width: 50px;
}

.playerPluginContainer{
	display: none;
	height: 150px;
	width: 100%;
}

.playerProgressBarContainer{
	margin: 0 auto;
	max-width: 100%;
	width: 50px;
}

.playerProgressBarInner{
	background-color: @bg-color-4;
	height: 5px;
	width: 100%;
}

.playerProgressBar{
	background-color: #ff0000;
	height: 100%;
}

.detailsWrapper{
	flex-grow: 1;
	padding: 0 10px;
	width: 55%;
}

.songDetail{
	color: @text-color-light-1;
	display: block;
	margin: 0;
}

.songTitle{
	composes: songDetail;
}

.buttonsWrapper{
	flex-shrink: 0;
	padding: 0 10px;
	text-align: center;
	width: 25%;
}

.controlButtons{
	color: @text-color-light-2;
	cursor: pointer;
}