@value colors: 'styles/variables.css';
@value background-color-dark-2, player-height, text-color-light-1, text-color-light-2, font-size-medium, font-size-large, navbar-height from colors;

.player{
	composes: position-bottom from 'styles/util.css';
	background-color: background-color-dark-2;
	height: player-height;
	margin: 0;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
	transition-property: height;
	width: 100%;
}

.player__opened{
	composes: player;
	background-color: background-color-dark-2;
	height: calc(100% - navbar-height);
}

.expandButton{
	color: text-color-light-1;
	padding: 0;
	width: 100%;
}

.contentWrapper{
	margin: 0;
}

.contentWrapperOpened{
	margin: 0 auto;
	width: 95%;
}

.songThumbnail{
	height: 50px;
	margin: 5px auto;
	max-width: 100%;
	width: 50px;
}

.songThumbnailOpened{
	height: 96px;
	margin: 40px auto;
	max-width: 100%;
	width: 96px;
}

.songDetail{
	color: text-color-light-1;
	display: block;
	margin: 0;
}

.songDetail__opened{
	composes: songDetail;
	font-size: font-size-medium;
}

.songTitle{
	composes: songDetail;
	composes: cut-text from 'styles/util.css';
	margin-top: 10px;
}

.songTitle__opened{
	composes: songTitle;
	font-size: font-size-large;
}

.controlButtons{
	color: text-color-light-2;
	margin-top: 10px;
}

.controlButtons__opened{
	composes: controlButtons;
	font-size: 50px;
}