@value CONSTANTS: 'styles/variables.css';
@value bg-color-1, bg-color-2, bg-color-3, bg-color-4, text-color-light-1, text-color-light-2, text-color-dark-1, light-blue, light-yellow,font-size-small, font-size-normal, font-size-medium, font-size-large, navbar-height, player-height from CONSTANTS;

.song{
	background-color: inherit;
	border-bottom: 1px solid bg-color-4;
	margin: 0 auto;

	&:last-child{
		border: 0;
	}

	&Inner{
		height: 70px;
		padding: 10px;
	}

	&Thumbnail{
		&Wrapper{
			height: 50px;
			position: absolute;
			width: 50px;
		}

		&Img{
			height: 100%;
			width: 100%;
		}

		&Duration{
			composes: u-position-right-bottom u-gradient from 'styles/util.css';
			color: text-color-light-2;
			font-size: font-size-small;
			margin: 0;
			padding: 3px 5px;
			width: 100%;
		}
	}

	&Details{
		&Wrapper{
			padding-left: 60px;
		}

		&Title{
			composes: u-cut-text from 'styles/util.css';
			color: text-color-light-2;
			font-size: font-size-normal;
			margin-bottom: 0;
		}
	}

	&Button{
		color: text-color-light-2;
		margin: 0 7px;
	}
}