@value colors: 'styles/variables.css';
@value background-color-dark-2, background-color-base, text-color-light-2, font-size-small, font-size-normal from colors;

.song{
	/* TODO */
	/* background-color: color(background-color-dark-2 lightness(3%)); */
	/* border-bottom: 1px solid color(background-color-base lightness(-1%)); */

	// background-color: color(#212020 lightness(-8%));
    background-color: inherit;
	border-bottom: 1px solid color(#212020 lightness(-1%));
	margin: 0 auto;

	&Inner{
		height: 70px;
		padding: 10px;
	}

	&Thumbnail{
		&Wrapper{
			height: 50px;
			position: absolute;
			width: 50px;
		}

		&Img{
			height: 100%;
			width: 100%;
		}

		&Duration{
			/* TODO */
			/* .gradient(); */
			composes: u-position-right-bottom u-gradient from 'styles/util.css';
			color: text-color-light-2;
			font-size: font-size-small;
			font-weight: 700;
			margin: 0;
			padding: 3px 5px;
			width: 100%;
		}
	}

	&Details{
		&Wrapper{
			padding-left: 60px;
		}

		&Title{
			composes: u-cut-text from 'styles/util.css';
			color: text-color-light-2;
			font-size: font-size-normal;
			font-weight: 700;
			margin-bottom: 0;
		}
	}

	&Button{
		color: text-color-light-2;
		margin: 0 7px;
	}
}