@value colors: 'styles/variables.css';
@value base-space, light-yellow, font-size-medium from colors;

.songsListInfo{
	color: light-yellow;
	font-size: font-size-medium;
	font-weight: 700;
	/* TODO */
	/* margin: base-space/2 10px; */
	margin: 10px;
}