@value CONSTANTS: 'styles/variables.css';
@value background-color-dark-2, background-color-dark-1, player-height, light-blue, text-color-light-2, base-space, font-size-large, navbar-height from CONSTANTS;

.parentContainer{
	composes: u-z-depth-1 from 'styles/util.css';
	/* background-color: background-color-dark-1; */
	/* TODO */
	background-color: color(#212020 lightness(-8%));
	height: 100vh;
	margin: 0 auto;
	max-width: 500px;
	padding: 0;
	position: relative;
	width: 100%;

	&Child{
		height: 100%;
		position: relative;
	}
}

.header{
	background-color: background-color-dark-2;
	height: navbar-height;
	position: absolute;
	top: 0;
	width: 100%;

	&Navbar{
		background-color: inherit;
		border-radius: 0;
		border: 0;
		margin: 0;
		padding: 15px 0 0 15px;
	}

	&TitleContainer{
		color: light-blue;
		font-size: font-size-large;
		margin: 0;
	}

	&Title{
		margin-left: 10px;
	}

	&MenuIcon{
		margin-right: 5px;
	}
}

.content{
	height: 100%;
	margin: 0;
	padding-bottom: player-height;
	/* TODO */
	/* padding-top: calc(navbar-height); */
	padding-top: 50px;

	> div{
		height: 100%;
		overflow: auto;
		padding: 10px;
	}
}