.parent-container{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	height: 100vh;
	padding: 0;
	background-color: @background-color-dark-1;
	position: relative;

	&-child{
		height: 100%;
		position: relative;
	}
}

.header{
	position: absolute;
	top: 0;
	width: 100%;
	height: @navbar-height;
	background-color: @background-color-dark-2;
}

.header-name{
	margin-left: 10px;
}

.navbar{
	margin: 0;
	background-color: inherit;
	border: 0;
	border-radius: 0;
	padding: 15px 0 0 15px;

	.header-h1{
		color: @light-blue;
		margin: 0;
		font-size: @font-size-large;
	}

	.menu-icon{
		margin-right: 5px;
	}
}

.content{
	margin: 0;
	height: 100%;
	padding-top: @navbar-height + @base-space;
	padding-bottom: @player-height;
}

.view-content{
	padding: 0 20px;
	color:  @text-color-light-1;
}