@value CONSTANTS: 'styles/variables.css';
@value bg-color-1, bg-color-2, bg-color-3, bg-color-4, text-color-light-1, text-color-light-2, text-color-dark-1, light-blue, light-yellow,font-size-small, font-size-normal, font-size-medium, font-size-large, navbar-height, player-height from CONSTANTS;

.parentContainer{
	composes: u-box-shadow from 'styles/util.css';
	background-color: bg-color-3;
	height: 100vh;
	margin: 0 auto;
	max-width: 500px;
	padding: 0;
	position: relative;
	width: 100%;

	&Child{
		height: 100%;
		position: relative;
	}
}

.content{
	height: 100%;
	margin: 0;
	padding-bottom: player-height;
	/* TODO */
	/* padding-top: calc(navbar-height); */
	padding-top: 50px;

	> div{
		height: 100%;
		overflow: auto;
		padding: 15px;
	}
}